<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">About Us</h2>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container">
        <div class="row gx-4 align-items-center justify-content-between">
            <div class="col-md-5 order-2 order-md-1">
                <div class="mt-5 mt-md-0">
                    <span class="text-muted">Our Story</span>

                    <h2 class="display-5 fw-bold">About Us</h2>
                    <p class="lead">Welcome to FrolicMart, where every page turns into an adventure. Founded with a passion for books and a commitment to fostering a love for reading, we strive to be more than just a bookstore—we're a haven for bookworms of all kinds.</p>
                    <p class="lead">At FrolicMart, we believe in the magic of books. Whether you're seeking an escape into fantasy realms, a journey through history's mysteries, or a guide to personal growth, our thoughtfully curated collection caters to every reader's imagination.</p>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 order-1 order-md-2">
                <!-- Show only one image -->
                <div class="mb-2"><img class="img-fluid rounded-3" src="~/images/AboutUs.jpg"></div>
            </div>
        </div>
    </div>
</section>
